.album{
	position: relative;
	box-sizing:border-box;
	overflow: hidden;
}

	.album:after {
	    content: '';
	    display: block;
	    clear: both;
	}

.waterfall-album{
	display: flex;
}

.waterfall-col{
	margin:0 8px;
}

	.waterfall-col:first-child{
		margin-left: 0;
	}

	.waterfall-col:last-child{
		margin-right: 0;
	}

.bucket-row{
	position: relative;
	overflow: hidden;
}

.bucket-item{
	height: 100%;
	margin: 0;
	float: left;
}

	.bucket-item:after {
	    content: '';
	    display: block;
	    clear: both;
	}

.bucket-item img{
	height:100%;
}

.album-item{
	position: relative;
	overflow: hidden;
	box-sizing:border-box;
}

.album-item img{
	width:100%;
}

#shadowMask{
	position:fixed;
	width:100%;
	height: 100%;
	top:0;
	left: 0;
	background-color: rgba(0,0,0,0.8);
	z-index: 10;
	display: none;
	justify-content: space-around;
	align-items: center;
	transition: display 1s;
}